*.o
*.qmake.stash
*.a
Frontend/Frontend
DataContainers/README.md
Entity-Component-System/ECS.png
Entity-Component-System/README.md
Frontend/VLC.sh
plot.py
cmp
performance_log.txt
projects/blender_proj/
projects/cancelations_proj/
projects/mynewproject_proj/
projects/photoshop_proj/
projects/sdf_proj/
projects/seventh_proj/
projects/sixth_proj/
projects/tenth_proj/
