*.o
*.qmake.stash
Frontend/VLC.sh
plot.py
performance_log.txt
projects/blender_proj/
projects/cancelations_proj/
projects/mynewproject_proj/
projects/photoshop_proj/
projects/sdf_proj/
projects/seventh_proj/
projects/sixth_proj/
projects/tenth_proj/
